@charset "UTF-8";
html {
  font-family: "ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝",serif;
  line-height: 120%;
  height: 100%;
  background-color: #cc0000;
}

h1 {
  font-size: 600%;
  line-height: 150px;
  height: 300px;
}

h2 {
  font-size: 500%;
  line-height: 56px;
  color: #fafafa;
  margin-bottom: 0px;
}

h3 {
  color: black;
  font-size: 200%;
}

.img_left {
  float: right;
  margin: 0 0 20px 20px;
}

#content {
  margin-left: 30px;
  margin-top: 30px;
}

.space {
  height: 40px;
}

.statement {
  word-wrap: normal;
}

.post_card {
  position: relative;
  min-height: 628px;
}

.hidari_photo {
  float: left;
  width: 450px;
}

.migi {
  position: absolute;
  width: 450px;
  left: 450px;
  min-height: 628px;
}

.migi_no1 {
  position: absolute;
  bottom: 0px;
  font-size: 90%;
}

.migi_no2 {
  position: absolute;
  bottom: 0px;
}

.info_content {
  margin-left: 15px;
  font-size: 90%;
}

#top {
  text-align: center;
}

#loadingWrap {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  background: #cc0000;
  text-align: center;
}
